@import "tailwindcss";

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22c55e; /* Tailwind green-500 */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* active link stays underlined */
.nav-link.active::after {
  width: 100%;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
